/__MACOSX/
/wp-content/**
!/wp-content/**/

!/wp-content/themes/wizestore/**
!/wp-content/themes/wizestore-child/**
!/wp-content/plugins/*
!/wp-content/plugins/**
!/wp-content/plugins/**/
!/wp-content/plugins/**/*
!/wp-content/plugins/**/**
!/wp-content/plugins/*/*

/wp-content/plugins/pixelyoursite/logs/
/wp-content/plugins/pixelyoursite/logs/*
/wp-content/plugins/pixelyoursite/logs/**

/wp-includes/
homebrew

/wp-admin/
/wp-admin/*
/wp-content/uploads/

/wp-content/themes/twenty*/

*.png
*.jpg
*.jpeg
*.mov
*.mpeg
*.webp
*.mp4
*.zip
*.log
